<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" url="/observation/?id">
        <link rel="stylesheet" href="../css/main.css">
        <title>JWST Online</title>
    </head>
    <body>
        <%- include ('partials/navbar.ejs', {current:"browse", username:username}); %>
        <form class="filters" action="/observations" method="get">
            <label for="date">Upload date:</label>
            <select name="date" id="date">
                <option value="desc">Most recent</option>
                <option value="asc">Oldest</option>
            </select>
            <br>
            <label for="title">Title:</label>
            <input name="title" id="title"/>
            <br>
            <label for="analyses">Analyses:</label>
            <input name="analyses" id="analyses"/>
            <br>
            <button>Search</button>
        </form>
        <div class="postgrid">
        <%posts.forEach(function(post){ %>
        <div class="post">
            <h1><a href="/observation/?id=<%=post._id%>"><%=post.title%></a></h1>
            <h2>Uploaded on: <%=moment(post.updatedAt).format('MMMM Do YYYY, h:mm:ss a')%></h2>
            <% if(post.status != "visible") { %>
                <h3>POST IS <%=post.status%></h3>
            <% } %>
            <h3>By <a href="/user/<%=post.username%>"><%=post.username%></a></h3>
            <h3>Category: <%=post.category%></h3>
            <h3>
                Coordinates:<%=post.galacticCoords.longitude%> Long.,
                <%=post.galacticCoords.latitude%> Lat.
            </h3>
        </div>
        <%})%>
        </div>
    </body>
</html>
