<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" url="/observation/?id">
    <link rel="stylesheet" href="../css/main.css">
    <title>JWST Online</title>
</head>
<body>
    <%- include('partials/navbar.ejs'), {current: "support", username: username} %>
    <div class="messageContainer" id="messageDiv">
        <div class="messages" id="messages">
            <%chat.messages.forEach(function(message){%>
                <%if(message.senderUsername == username) {%>
                    <div class="myMessage">
                        <%=message.senderUsername%>
                        <div class="myMessageContent">
                            <%=message.content%>
                        </div>
                        <%=moment(message.createdAt).format("hh:mm a DD MMM YYYY")%>
                    </div>
                    <%} else {%>                
                    <div class="theirMessage">
                        <%=message.senderUsername%>
                        <div class="theirMessageContent">
                            <%=message.content%>
                        </div>
                        <%=moment(message.createdAt).format("hh:mm a DD MMM YYYY")%>
                    </div>
                    <%}%>
            <%})%>
        </div>
    </div>
    <form id="messageform" class="messageform" action="/message/<%=chat._id%>" method="post" autocomplete="off">
        <input id="username" name="username" type="hidden" value="<%=username%>">
        <input id="content" name="content">
        <input type="hidden" id="room" name="room" value="<%=chat._id%>">
        <input id="sendbutton" type="submit" value="Send">
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../javascript/message.js"></script>
</body>
</html>